.button {
    @include corners($mini-step / 3);

    background-color: $button-color;
    color: $button-text-color;
    text-decoration: none;

    padding: $mini-step;

    &:visited {
        color: $button-text-color;
    }
    &:hover,
    &:focus,
    &:active {
        color: $button-text-hover-color;
        background-color: $button-hover-color;
    }
}