$ground-color: #aaa;
$sky-color: #ddd;
$base-color: #ccc;
$tower-body-color: #A36000;
$tower-top-color: #634b00;
$clock-color: #ccc;
$decoration-color: #B07200;
$window-color: #333;
$church-border-color: #555;

$base-step: 10vh;
$mini-step: $base-step / 8;

$ease-in-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$transition-timing: 500ms;

@mixin rotate($angle) {
    -webkit-transform: rotate($angle);
    -ms-transform: rotate($angle);
    transform: rotate($angle);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
          
}

@mixin center() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin bottom() {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@mixin transition() {
    -webkit-transition: all $transition-timing $ease-in-back;
    -ms-transition: all $transition-timing $ease-in-back;
    transition: all $transition-timing $ease-in-back;
}

@mixin mullioned($mullion) {
    -moz-border-top-left-radius: $mullion;
	-webkit-border-top-left-radius: $mullion;
	border-top-left-radius: $mullion;
    -moz-border-top-right-radius: $mullion;
	-webkit-border-top-right-radius: $mullion;
	border-top-right-radius: $mullion;
}

body {
    margin: 0;
    background-color: transparent;
}

@import "town/environment";
@import "town/tower";
@import "town/church";